:root {
--color00: #F5E6D3;
--color01: #F5E6D3;
--color02: #F5E6D3;
--color03: #DEA193;
--color04: #DEA193;
--color05: #35302a;
--color06: #DEA193;
--color07: #DEA193;
--color08: #a02b16;
--color09: #644535;
--color0A: #694C45;
--color0B: #b76e79;
--color0C: #3b3b28;
--color0D: #AD9980;
--color0E: #b76e81;
--color0F: #a02b16;
}
