:root {
--color00: #05010C;
--color01: #05010C;
--color02: #05010C;
--color03: #DECCFF;
--color04: #C3AAF0;
--color05: #FFFFFF;
--color06: #C3AAF0;
--color07: #C3AAF0;
--color08: #F07178;
--color09: #DDCCFF;
--color0A: #D1BFF7;
--color0B: #C2B8FF;
--color0C: #A6B8FF;
--color0D: #BB9AF7;
--color0E: #B49AE6;
--color0F: #FF8A95;
}
