:root {
--color00: #;
--color01: #;
--color02: #;
--color03: #;
--color04: #;
--color05: #;
--color06: #;
--color07: #;
--color08: #;
--color09: #;
--color0A: #;
--color0B: #;
--color0C: #;
--color0D: #;
--color0E: #;
--color0F: #;
}
